node_modules/angular/*
!node_modules/angular/angular.js

node_modules/angularfire/*
node_modules/angularfire/dist/*
!node_modules/angularfire/dist/angularfire.js

node_modules/postmvc-app-css/*
!node_modules/postmvc-app-css/index.css

node_modules/postmvc-common/*
!node_modules/postmvc-common/base.css
!node_modules/postmvc-common/base.js
