.flex {
  display: flex;
}

.category-container {
  flex-basis: 46%
}
.category-container > h2 {
  margin: 0;
  margin-bottom: 15px;
}

.v-divider {
  width: 1px;
  margin: 0 4%;
  background-color: grey;
}

.h-divider {
  width: 1px;
  margin: 4 0%;
  background-color: grey;
}

.record {
  display: flex;
  align-items: center;
}

.record .content {
  flex-grow: 10;
  justify-content: space-between;
}

.record .inputs {
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.record .inputs input {
  font-size: inherit;
  margin-bottom: inherit;
  height: 2.4rem;
}
.record .text {
  flex-grow: 2;
}
.record .amount {
  min-width: 48px;
  max-width: 56px;

  margin-left: auto;
  color: #26a69a;
}
.record input.amount {
  width: 48px;
}

.remove-button {
  height: 18px;
  line-height: normal;
  color: rgb(240, 60, 60);
  opacity: 0.7;

  cursor: pointer;
}
.remove-button > .material-icons {
  font-size: 1.3rem !important;
}
.remove-button:hover {
  opacity: 1;
  background-color: whitesmoke;
}